<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div *ngIf="currentLink == '/'">


        <h1 class="page-header">Dashboard</h1>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="dashboard-icon-div">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <h4>{{ usersCount }}</h4>
                <span class="text-muted">lakó</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="dashboard-icon-div">
                    <span class="glyphicon glyphicon-bed"></span>
                </div>
                <h4>{{ roomsCount }}</h4>
                <span class="text-muted">Szoba</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="dashboard-icon-div">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <h4>{{staffCount}}</h4>
                <span class="text-muted">alkalmazott</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="dashboard-icon-div">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </div>
                <h4>{{currentStaffCount}}</h4>
                <span class="text-muted">szolgálatban</span>
            </div>
        </div>

        <div class="table-responsive">
            <h2 class="sub-header">Lakók listája</h2>
            <app-user-table-row></app-user-table-row>
        </div>

    </div>

    <!--Reports -->
    <div *ngIf="currentLink == '/user-manager'">
        <app-user-manager (newUser)=" onNewUser($event)"></app-user-manager> <!-- Figyeljük a newUser eseményt -->
    </div>

    <!--Reports -->
    <div *ngIf="currentLink == '/analytics'">
        Analytics div.
    </div>

    <!--Reports -->
    <div *ngIf="currentLink == '/export'">
        Export div.
    </div>


</div>