
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li [ngClass]="{'active' : currentLink == '/'}">
          <a (click)="onMenuClick($event)" href="/">Overview</a>
        </li>
        <li [ngClass]="{'active' : currentLink == '/reports'}">
          <a (click)="onMenuClick($event)" href="/reports">Reports</a>
        </li>
        <li [ngClass]="{'active' : currentLink == '/analytics'}">
          <a (click)="onMenuClick($event)" href="/analytics">Analytics</a>
        </li>
        <li [ngClass]="{'active' : currentLink == '/export'}">
          <a (click)="onMenuClick($event)" href="/export">Export</a>
        </li>
      </ul>

    </div>